
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('head'); %>
</head>
<body>
    <!-- Docs master nav -->

    <%- include('header'); %>
    <div class="container bf-docs-container bodyWrapper" style="margin-top: 105px;">
        <div class="row">
            <div class="col-md-2">
            <%- include('menu'); %>
            </div>
            

            <div class="col-md-10" role="main">
                <div class="bf-docs-section dataTableListSection">
                        
                </div>
            </div>

        </div>
    </div>

</body>
</html>
<script type="text/javascript">
    var returnCount = 0;
</script>

