<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="/js/jquery-2.0.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootflat.css" rel="stylesheet" media="screen">
    <link href="/css/bf-frame.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/Scripts/js/html5shiv.js"></script>
    <script src="~/Scripts/js/respond.min.js"></script>
    <![endif]-->
    <script src='/js/init.js'></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- <link id="theme-style" rel="stylesheet" href="http://ejs.co/assets/css/styles-2.css"> -->