<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- include('../head'); %>
    <!-- <script src="/js/jquery-2.0.0.min.js"></script> -->
	<style type="text/css">
		
body{margin:0;padding:0;font-family:"Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;color:#333;word-wrap:break-word;-webkit-font-smoothing:antialiased}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}

.sso_header{position:relative;width:100%;height:500px;background-color:#00b38a;min-width: 1200px;}
.sso_header .logo{position:absolute;top:76px;left:50%;margin-left:-350px;width:512px;height:422px;background:url(/images/title2.png) no-repeat;background-size:contain}
.vender_login{margin-top:12px;text-align:center}.vender_login li{display:inline-block;float:left;margin-left:22px}
.vender_login li:first-child{margin:0}

.content_box{z-index: 999; width:552px;margin:-175px auto 60px;padding:62px 70px 68px 78px;background-color:#fff;display:table;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:1px solid #dce1e6}
.content_box .tab_active{position:absolute;left:0;bottom:-1px;z-index:1;background-color:#00b38a;width:150px;height:1px}
.content_box .tab_active:before,.content_box .tab_active:after{position:absolute;z-index:2;top:-12px;left:50%;margin-left:-3px;content:'';width:0;height:0;line-height:0;border:6px solid transparent;border-bottom-color:#007b5f}
.content_box .tab_active:after{z-index:3;top:-11px;width:0;height:0;line-height:0;border:6px solid transparent;border-bottom-color:#fff}
.content_box .input_group>input.first_child{padding-right:80px}
.content_box .input_group>input.last_child{position:absolute;right:0;top:0;z-index:2;height:43px;font-size:14px;padding:0;border:0}
.content_box .input_group>input.last_child.btn_disabled{background-color:#fff;color:#777;border:0}
.content_box .verify_tips{margin-top:12px;color:#777}
.content_box .verify_tips .auto_phone{outline:0;text-decoration:none;color:#00b389;cursor:pointer;background-color:transparent;border:0;font-size:14px}
.content_box .verify_tips .verify_tips_main,.content_box .verify_tips .verify_tips_count_down{display:none}
.content_box .left_area{width:290px}
.content_box .form_body:last-child{display:none}
.content_box .input_item{position:relative}
.content_box .input_item+.input_item{margin-top:20px}
.content_box .input_item.btn_group{margin-top:24px}
.content_box .input_white,.content_box .dropbtn_white{border-left:0;border-top:0;border-right:0;border-color:#ededed;background:0 0}
.content_box .input{box-sizing:border-box;width:290px;border-radius:0}
.content_box .input.verify_code_input{padding-right:140px}
.content_box .forgot_pwd{position:relative;float:right;font-size:14px;display:block;text-align:right;text-decoration:none;color:#00b38a;margin-top:-5px;z-index:3}
.content_box .reg_now{text-align:center;margin-top:0;color:#777}



.btn{font-size:16px;line-height:44px;display:inline-block;height:44px;padding:0 30px;text-align:center;text-decoration:none;color:#fff;border:1px solid #fff;*border:1px solid transparent;outline:0;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-transition:.05s linear;-o-transition:.05s linear;transition:.05s linear}
.btn:hover,.btn.btn_active{text-decoration:none;color:#00b38a;background-color:#fff}
.btn.btn_link{color:#fff;border-color:transparent;background-color:transparent}
.btn.btn_outline{color:#fff;background-color:transparent}
.btn_sm{font-size:14px;line-height:36px;height:36px}
.btn_lg{font-size:18px;line-height:46px;height:46px}
.btn_block{display:block;width:100%}
.btn+.btn{margin-top:23px}.btn_green{color:#00b38a;border-color:#00b38a;background-color:#fff}.btn_green:hover,.btn_green.btn_active{color:#fff;border-color:#00b38a;background-color:#00b38a}.btn_green.btn_link{color:#00b38a;border-color:transparent;background-color:transparent}.btn_green.btn_outline{color:#00b38a;background-color:transparent}.btn_red{color:#fd5f39;border-color:#fd5f39;background-color:#fff}.btn_red:hover,.btn_red.btn_active{color:#fff;background-color:#fd5f39}.btn_red.btn_link{color:#fd5f39;border-color:transparent;background-color:transparent}.btn_red.btn_outline{color:#fd5f39;background-color:transparent}.btn_icon{padding-left:35px;padding-right:20px;color:#00b38a;border-color:#00b38a;background-color:#fff;overflow:hidden;-webkit-transition:none;-o-transition:none;transition:none}.btn_icon .icon{display:inline-block;height:19px;width:21px;vertical-align:middle;background-image:url(../img/icon-download.png);background-position:-21px top;background-repeat:no-repeat;padding-right:5px}.btn_icon:hover{color:#fff;border-color:#00b38a;background-color:#00b38a}.btn_icon:hover .icon{background-position:0 0}.btn.btn_disabled{color:#fff;border-color:#b2b2b2;background-color:#b2b2b2}.btn.btn_disabled:hover{cursor:default;color:#fff;border-color:#b2b2b2;background-color:#b2b2b2}.btn.btn_disabled.btn_outline{color:#b2b2b2;background-color:transparent}

	</style>
</head>
<body>
    <header class="sso_header">
        <div class="logo ">
        </div>
    </header>
    <section class="content_box cleafix">
        <div class="left_area fl">
            
            <div class="form_controll" data-view="passwordLogin" style="display: block;">
                <div class="active" >
                    <div class="input_item clearfix" data-propertyname="username" data-controltype="Phone" style="display: block;">
                        <input type="text" class="form-control" id="tx_name" name="" placeholder="请输入常用手机号/邮箱" data-required="required" autocomplete="off">
                    </div>
                    <div class="input_item clearfix" data-propertyname="password" data-controltype="Password" style="display: block;">
                        <input type="password" class="form-control" id="tx_pwd" name="" placeholder="请输入密码" data-required="required" autocomplete="off">
                    </div>

                    <div class="input_item clearfix">
                        <a rel="nofollow" href="#" class="forgot_pwd">忘记密码？</a>
                    </div>
                    <div class="input_item btn_group clearfix" data-propertyname="submit" data-controltype="Botton" style="display: block;">
                        <input type="button" class="btn btn_green btn_active btn_block btn_lg" value="登&nbsp;录" data-lg-tj-id="1j90" data-lg-tj-no="idnull" data-lg-tj-cid="idnull" onclick='login()'>
                    </div>
                </div>
            </div>
            
        </div>
        
        
    </section>

	<%- include('../footer'); %>
</body>
<script type="text/javascript">
    
function  login() {
    var name = $('#tx_name').val();
    var pwd = $('#tx_pwd').val();
    var data = 'name='+name+'&pwd='+pwd;
    console.log(data);
    $.ajax({
            url:'/admin/login',
            type:'post',
            data:'name='+name+'&pwd='+pwd,
            success:function(result){
                console.log(result);
                if(result.success)
                    location.href='/admin/home';
                else
                    alert(result.msg);
            },
            error:function(){
                alert('网络出错');
            }
        })
}

</script>
</html>