
<!DOCTYPE html>
<html>
<head>
    <%- include('head'); %>
</head>
<body>
    <!-- Docs master nav -->

    <%- include('header'); %>
    <div class="container bf-docs-container bodyWrapper" style="margin-top: 105px;">
        <div class="row">
            <div class="col-md-2">
            <%- include('menu'); %>
            </div>
            
            <!-- <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
            <div class="col-md-10" role="main">
                <div class="bf-docs-section dataTableListSection">

                </div>
            </div>

        </div>
    </div>

</body>
</html>


