<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('head'); %>
</head>

<body>
    <%- include('header'); %>

        <div class="inbox">

            <h3>CONTACT US</h3>
            <h2>联系我们</h2>
            <h2 class="line"></h2>
            <div style="margin: auto;text-align: left;;font-size: 20px;font-weight: 200;width: 1100px;"> </div>
            <div class="inbox" style="margin: 30px auto 0px; padding: 0px; zoom: 1; width: 1002px; font-family: 微软雅黑;">
                <div class="gsjj" style="margin: 0px; padding: 0px; zoom: 1; color: rgb(51, 51, 51); line-height: 28px;">
                    <p align="left" style="margin-bottom: 0px; padding: 0px; zoom: 1;">
                        <br>
                        <br>
                    </p>
                    <p align="left" style="margin-bottom: 0px; padding: 0px; font-size: 16px; zoom: 1;">
                        <span style="font-weight: 700; margin: 0px; padding: 0px; zoom: 1;">
                            <span style="margin: 0px; padding: 0px; zoom: 1; color: rgb(255, 255, 255); font-size: 24px; background-color: rgb(229, 51, 51);">宿迁市匠之心园林绿化工程有限公司</span>
                        </span>
                    </p>
                    <div style="margin: 0px; padding: 0px; font-size: 16px; zoom: 1;">
                        <img src="http://www.aigongyi.net.cn/upload/image/20170815/20170815220986258625.png" width="222" height="38"
                            align="right" alt="" style="vertical-align: bottom; margin: 0px; padding: 8px 15px 0px 0px; max-width: 1200px; zoom: 1;">
                    </div>
                    <div style="margin: 0px; padding: 0px; font-size: 16px; zoom: 1;">
                        <br style="margin: 0px; padding: 0px; zoom: 1;">
                    </div>
                    <p align="left" style="margin-bottom: 0px; padding: 0px; font-size: 16px; zoom: 1;">
                        <span style="margin: 0px; padding: 0px; zoom: 1;">
                            <span style="margin: 0px; padding: 0px; zoom: 1;"></span>
                            <br style="margin: 0px; padding: 0px; zoom: 1;">
                            <span style="margin: 0px; padding: 0px; zoom: 1;"></span>
                        </span>
                    </p>
                    <div style="margin: 0px; padding: 0px; font-size: 16px; zoom: 1;">
                        <p align="left" style="margin-bottom: 0px; padding: 0px; zoom: 1;">
                            <span style="margin: 0px; padding: 0px; zoom: 1;">
                                <u style="margin: 0px; padding: 0px; zoom: 1;">
                                    <span style="margin: 0px; padding: 0px; zoom: 1; font-size: 18px;">
                                        <img src="http://www.aigongyi.net.cn/upload/image/20170815/20170815220786118611.png"
                                            alt="" style="vertical-align: bottom; margin: 0px; padding: 8px 15px 0px 0px; max-width: 1200px; zoom: 1;">全国咨询热线：18905240777</span>
                                </u>
                            </span>
                        </p>
                        <p align="left" style="margin-bottom: 0px; padding: 0px; zoom: 1;">
                            <img src="http://www.aigongyi.net.cn/upload/image/20170914/20170914210613731373.jpg" width="564"
                                height="345" align="right" alt="" style="vertical-align: bottom; margin: 0px; padding: 8px 15px 0px 0px; max-width: 1200px; zoom: 1;">
                            <span style="margin: 0px; padding: 0px; zoom: 1;">
                                <span style="margin: 0px; padding: 0px; zoom: 1;"></span>
                            </span>
                            <span style="margin: 0px; padding: 0px; zoom: 1;">
                                <span style="margin: 0px; padding: 0px; zoom: 1; font-size: 18px;">
                                    <span style="margin: 0px; padding: 0px; zoom: 1; font-size: 14px;">
                                        <span style="margin: 0px; padding: 0px; zoom: 1; font-size: 18px;">&nbsp;</span>
                                    </span>
                                </span>
                            </span>
                            <u style="margin: 0px; padding: 0px; zoom: 1;">
                                <span style="margin: 0px; padding: 0px; zoom: 1; font-size: 18px;">
                                    <img src="http://www.aigongyi.net.cn/upload/image/20170815/2017081522080805805.png" alt=""
                                        style="vertical-align: bottom; margin: 0px; padding: 8px 15px 0px 0px; max-width: 1200px; zoom: 1;">邮箱：</span>
                            </u>
                            <span style="margin: 0px; padding: 0px; zoom: 1; font-family: &quot;sans serif&quot;, tahoma, verdana, helvetica; font-size: 12px; line-height: 1.5;">
                                <u style="margin: 0px; padding: 0px; zoom: 1;">
                                    <span style="margin: 0px; padding: 0px; zoom: 1; font-size: 18px;">970677650@qq.com</span>
                                </u>
                            </span>
                        </p>
                    </div>
                    <div style="margin: 0px; padding: 0px; font-size: 16px; zoom: 1;">
                        <p align="left" style="margin-bottom: 0px; padding: 0px; zoom: 1;">
                            <u style="margin: 0px; padding: 0px; zoom: 1;">
                                <span style="margin: 0px; padding: 0px; zoom: 1; font-size: 18px;">
                                    <img src="http://www.aigongyi.net.cn/upload/image/20170815/20170815220836063606.png" alt=""
                                        style="vertical-align: bottom; margin: 0px; padding: 8px 15px 0px 0px; max-width: 1200px; zoom: 1;">地址：江苏省宿迁市沭阳县花木大世界</span>
                            </u>
                        </p>
                    </div>
                    <div class="clear" style="margin: 0px; padding: 0px; zoom: 1; clear: both; height: 0px; color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;"></div>
                </div>
            </div>
            <div class="clear" style="margin: 0px; padding: 0px; zoom: 1; clear: both; height: 0px; color: rgb(0, 0, 0); font-family: 微软雅黑; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px;"></div>
            <p></p>



        </div>

        <%- include('footer'); %>
</body>

</html>