<footer class="footer" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"  style="text-align: center">
                    <div><img src="images/5dilogo.png" width="150px"></div>
                </div>
                <div class="foot_menu col-sm-2">
                       <ul>
                           <li>
                               <a href=''>产品中心</a>
                           </li>
                           <li>
                                <a href=''>产品报价</a>
                            </li>
                            <li>
                                <a href=''>关于我们</a>
                            </li>
                            <li>
                                <a href=''>联系我们</a>
                            </li>
                       </ul>
                    </div>
                <div class="boxfoter col-sm-2">
                    <ul>
                        <i><p style="font-size:27px;color:RGB(220,122,45);font-weight: bold"><img src="images/5di4.png" width="38px" height="38px" />18905240777</p></i>
                        <i class="fa fa-weixin" aria-hidden="true" style="margin-top: 15px;"> &nbsp; 18905240777</i><br/>
                        <i class="fa fa-envelope-o" aria-hidden="true" style="margin-top: 10px;"> &nbsp; 970677650@qq.com</i>
                        <i class="fa fa-location-arrow" aria-hidden="true" style="margin-top: 10px;"> &nbsp; 江苏省宿迁市沭阳县花木大世界</i>
                        <!-- <p class="add">电话传真：0527-83096699<br/>联系人：倪经理<br/>苏ICP备16046284号</p> -->
                    </ul>
                </div>
                <div class="col-sm-3" style="text-align: center; color:#fff;">
                        <img src="images/5di3.png" width="130px"  /><br>
                        <p  style="font-size:12px;margin-top: 5px">微信扫一扫添加联系方式</p>
                </div>
            </div>
        </div>   
                
        <!-- <div class="container text-center">
        <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备17000873号</a>

            <small class="copyright">QC © 2017 <a href="http://www.qicheen.com">QiCheen</a> ::: Template designed with <i class="fa fa-heart"></i> by <a href="http://blog.qicheen.com" target="_blank">Qicheens</a></small>
        </div> -->
        <div class="copyright  text-center">
                <div class="container  text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <span>Copyright © <a href="http://www.qicheen.com">匠之心</a></span> |
                            <span><a href="http://www.miibeian.gov.cn/" target="_blank">苏ICP备17000873号</a></span>
                        </div>
                    </div>
                </div>
            </div>
</footer>