<footer class="footer" style="position:absolute;bottom:0px;width:100%">
        <div class="container">
            <div class="row">
                <div class="footernav col-sm-4">
                    <div><img src="images/index_24.jpg" width="285" height="91"></div>
                    <div style="line-height:30px; margin-top:10px;">地      址：江苏省沭阳县庙头镇赶埠<br/>技术支持：悦商科技</div>
                </div>
                <div class="boxfoter col-sm-4">
                    <p><img src="images/index_26.jpg" width="305" height="80" /></p>
                    <p class="add">电话传真：0527-83096699<br/>联系人：倪经理<br/>苏ICP备16046284号</p>
                </div>
            </div>
        </div>   
                
        <div class="container text-center">
        <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备17000873号</a>

            <small class="copyright">QC © 2017 <a href="http://www.qicheen.com">QiCheen</a> ::: Template designed with <i class="fa fa-heart"></i> by <a href="http://blog.qicheen.com" target="_blank">Qicheens</a></small>
        </div>
        <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <span>Copyright © <a href="http://www.youzhan.org">优站精选</a></span> |
                            <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span>
                        </div>
                    </div>
                </div>
            </div>
</footer>