
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<meta content="专业制作仿真植物，稻草人雕塑塑造，专注于各类绿雕大小型造型的开发研究定制。专业从事园林绿化造景。" name="keywords">
<meta content="专业制作仿真植物，稻草人雕塑塑造，专注于各类绿雕大小型造型的开发研究定制。专业从事园林绿化造景。，联系电话：18905240777"	name="description">

<header id="header">
    <div class="header">
        <div class="boxwidth">
            <div class="fl" style="width:653px;">
                <img src="/images/title2.png" alt="宿迁市匠之心园林绿化工程有限公司" title="宿迁市匠之心园林绿化工程有限公司">
            </div>
            <div class="fr" style="width:340px; text-align:right; margin-top:20px;">
                <img src="/images/title1.png" width="292" alt="服务热线：18905240777" title="服务热线：18905240777">
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="nav_wk">
            <ul id=nav class="nav clearfix">

                <li class="nLi">
                    <h3>
                        <a href="/">首页</a>
                    </h3>
                    <ul class="sub"></ul>
                </li>


                <li class=nLi>
                    <h3>
                        <a href="/product">产品中心</a>
                    </h3>
                    <ul class="sub">


                        <li>
                            <a href="/product-more/4" title="乔木类">
                                乔木类
                            </a>
                        </li>

                        <li>
                            <a href="/product-more/5" title="花灌木类">
                                花灌木类
                            </a>
                        </li>

                        <li>
                            <a href="/product-more/6" title="水生花卉">
                                水生花卉
                            </a>
                        </li>

                        <li>
                            <a href="/product-more/7" title="地被花草">
                                地被花草
                            </a>
                        </li>

                        <li>
                            <a href="/product-more/8" title="观赏竹">
                                观赏竹
                            </a>
                        </li>

                        <li>
                            <a href="/product-more/9" title="种子类">
                                种子类
                            </a>
                        </li>

                    </ul>
                </li>


                <li class=nLi>
                    <H3>
                        <a href="/news">新闻中心</a>
                    </H3>
                </li>


                <li class=nLi>
                    <h3>
                        <a href="/cases">工程案例</a>
                    </h3>
                    <ul class="sub">

                    </ul>
                </li>
                <li class=nLi>
                    <h3>
                        <a href="/about">关于我们</a>
                    </h3>
                    <ul class=sub></ul>
                </li>
                <li class=nLi>
                    <h3>
                        <a href="/contactus">联系我们</a>
                    </h3>
                    <ul class=sub>
                    </ul>
                </li>
            </ul>
            <SCRIPT id=jsID type=text/javascript>
        
            jQuery("#nav").slide({
                type: "menu",
                titCell: ".nLi", 
                targetCell: ".sub", 
                effect: "slideDown", 
                delayTime: 300, 
                triggerTime: 0, 
                defaultPlay: false
            });
            $('.carousel').carousel()
                </SCRIPT>
        </div>
    </div>
    <div class="banner">
        <div class="slideBox">
            <div class="bd">
                <ul>
                    <li style=" background:url(http://image.qicheen.com/094119b199f25db2e2de8fc00f6e4911_2banner1.jpg) no-repeat top center; height:480px;"></li>
                    <li style=" background:url(http://image.qicheen.com/1d59c42026ea1cd6f13821e9607798f5_2banner2.jpg) no-repeat top center; height:480px;"></li>
                    <li style=" background:url(http://image.qicheen.com/3fbe2921bd54e56d4f73f1d4fcb93b30_2banner3.jpg) no-repeat top center; height:480px;"></li>
                    <li style=" background:url(http://image.qicheen.com/5436351fca213de0d73f221339c66b85_2banner4.jpg) no-repeat top center; height:480px;"></li>
                    <li style=" background:url(http://image.qicheen.com/28842577c8ca2b6299427e1e9730802b_2banner5.jpg) no-repeat top center; height:480px;"></li>
                </ul>
            </div>

            <div class="hd">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
            <a class="prev" href="javascript:void(0)"></a>
            <a class="next" href="javascript:void(0)"></a>


        </div>

        <script type="text/javascript">
            jQuery(".slideBox").slide({ mainCell: ".bd ul", effect: "left", autoPlay: true, trigger: "click" });
        </script>
    </div>

    <div class="clear"></div>

</header>