
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<meta content="专业制作仿真植物，稻草人雕塑塑造，专注于各类绿雕大小型造型的开发研究定制。专业从事园林绿化造景。" name="keywords">
<meta content="专业制作仿真植物，稻草人雕塑塑造，专注于各类绿雕大小型造型的开发研究定制。专业从事园林绿化造景。，联系电话：18905240777"	name="description">

<header id="header">
    <div class="header">
        <div class="boxwidth">
            <div class="fl" style="width:653px;">
                <img src="images/title2.png" alt="宿迁市匠之心园林绿化工程有限公司" title="宿迁市匠之心园林绿化工程有限公司">
            </div>
            <div class="fr" style="width:340px; text-align:right; margin-top:20px;">
                <img src="images/title1.png" width="292" alt="服务热线：18905240777" title="服务热线：18905240777">
            </div>
        </div>
    </div>

    <div class="menu">
        <div class="nav_wk">
            <ul id=nav class="nav clearfix">

                <li class="nLi">
                    <h3>
                        <a href="/">首页</a>
                    </h3>
                    <ul class="sub"></ul>
                </li>


                <li class=nLi>
                    <h3>
                        <a href="pro.asp">产品中心</a>
                    </h3>
                    <ul class="sub">


                        <li>
                            <a href="pro_more.asp?ProClass=262" title="乔木类">
                                乔木类
                            </a>
                        </li>

                        <li>
                            <a href="pro_more.asp?ProClass=263" title="花灌木类">
                                花灌木类
                            </a>
                        </li>

                        <li>
                            <a href="pro_more.asp?ProClass=264" title="水生花卉">
                                水生花卉
                            </a>
                        </li>

                        <li>
                            <a href="pro_more.asp?ProClass=265" title="地被花草">
                                地被花草
                            </a>
                        </li>

                        <li>
                            <a href="pro_more.asp?ProClass=266" title="观赏竹">
                                观赏竹
                            </a>
                        </li>

                        <li>
                            <a href="pro_more.asp?ProClass=267" title="种子类">
                                种子类
                            </a>
                        </li>

                    </ul>
                </li>


                <li class=nLi>
                    <H3>
                        <a href="news.asp?ProClass=4">新闻中心</a>
                    </H3>
                </li>


                <li class=nLi>
                    <h3>
                        <a href="case.asp">工程案例</a>
                    </h3>
                    <ul class="sub">


                        <li>
                            <a href="case_more.asp?CaseClass=229" title="商业地产">
                                商业地产
                            </a>
                        </li>

                        <li>
                            <a href="case_more.asp?CaseClass=231" title="游乐场所">
                                游乐场所
                            </a>
                        </li>

                        <li>
                            <a href="case_more.asp?CaseClass=" title="">

                            </a>
                        </li>


                    </ul>
                </li>
                <li class=nLi>
                    <h3>
                        <a href="/about">关于我们</a>
                    </h3>
                    <ul class=sub></ul>
                </li>
                <li class=nLi>
                    <h3>
                        <a href="contactus.asp">联系我们</a>
                    </h3>
                    <ul class=sub>
                    </ul>
                </li>
            </ul>
            <SCRIPT id=jsID type=text/javascript>
        
            jQuery("#nav").slide({
                type: "menu",// 效果类型，针对菜单/导航而引入的参数（默认slide）
                titCell: ".nLi", //鼠标触发对象
                targetCell: ".sub", //titCell里面包含的要显示/消失的对象
                effect: "slideDown", //targetCell下拉效果
                delayTime: 300, //效果时间
                triggerTime: 0, //鼠标延迟触发时间（默认150）
                defaultPlay: false//默认不执行
            });
                </SCRIPT>
        </div>
    </div>
    <div class="banner">
        <!-- 示例开始 ======================= -->
        <style type="text/css">
            /* 下面是前/后按钮代码，如果不需要删除即可 */


        </style>

        <div class="slideBox">
            <div class="bd">
                <ul>
                    <li style=" background:url(http://image.qicheen.com/e2312bb0668752aed4d4b34f751a43e8_2banner1.png) no-repeat top center; height:480px;"></li>
                    <li style=" background:url(http://image.qicheen.com/21f4e5948c8ecb4036838b819913c3a7_2banner2.png) no-repeat top center; height:480px;"></li>
                    <li style=" background:url(http://image.qicheen.com/54e5df2dd4527cc1e0e69897d14e7727_2banner3.png) no-repeat top center; height:480px;"></li>
                    <li style=" background:url(http://image.qicheen.com/b62eab19b46354ce68bf9b0f88bf56d9_2banner4.png) no-repeat top center; height:480px;"></li>
                    <li style=" background:url(http://image.qicheen.com/580a800471e778a9d295d7ebaefd7ade_2banner5.png) no-repeat top center; height:480px;"></li>
                </ul>
            </div>

            <div class="hd">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
            <a class="prev" href="javascript:void(0)"></a>
            <a class="next" href="javascript:void(0)"></a>


        </div>

        <script type="text/javascript">
            jQuery(".slideBox").slide({ mainCell: ".bd ul", effect: "left", autoPlay: true, trigger: "click" });
        </script>
        <!-- 示例结束 ======================= -->

    </div>
    <div class="clear"></div>

</header>