<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- include('head'); %>
</head>
<body>
<%- include('header'); %>
	
<div class="inbox">

		<h3>PRUDUCT DISPLAY</h3>
		<h2 class="aboutus">产品展示</h2>
		

</div>

<%- include('footer'); %>
</body>
</html>