
/* style-2.css */
/* ======= Base ======= */
body {
    font-family: 'Lato', arial, sans-serif;
    color: #444444;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    min-width: 1200px;
  }
  div,ul,li,ol,body,img,span,h1,h2,h3,h4,h5,h6,p,TT,dl,dd,dt,table,tr,td,th,form,dl,dt,dd{margin:0px; padding:0px;}
  li{list-style:none;}
  .fl{float:left}
  .fr{float:right}
  .clear{ clear:both; height:0px;}
  .header{ width:100%; min-width:1200px; background:url(../images/index_02.jpg) repeat-x; height:108px; }
  .header .boxwidth{ width:1002px; margin:0 auto; overflow:hidden; padding-top:15px;}
  

/*********菜单*******/
.menu { width:100%; min-width:1200px; background-color: rgb(5, 107, 85);  line-height:55px;   }
.menu .nav_wk {MARGIN: 0px auto; WIDTH: 1002px;}
.clearfix:after {DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."}
.nav { Z-INDEX: 1; POSITION: relative}
.nav a { COLOR: #fff}
.nav .nLi { POSITION: relative; display: inline-block;  FLOAT: left}
.nav .nLi h3 { FLOAT: left; }
.nav .nLi h3 a { TEXT-ALIGN: center; LINE-HEIGHT: 45px; width:165px;  FLOAT: left; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold}
.nav .nLi h3 a:hover{ background:rgb(225, 128, 34); color:#fff;}
.nav .sub { POSITION: absolute; LINE-HEIGHT: 40px; width:165px; DISPLAY: none; background: rgb(5, 107, 85); TOP: 44px; font-size:14px; LEFT: 0px; opacity: 0.80;-moz-opacity: 0.80;filter:alpha(opacity=80);}
.nav .sub li {ZOOM: 1}
.nav .sub a {PADDING-BOTTOM: 0px; PADDING-LEFT: 10px;  PADDING-RIGHT: 10px; DISPLAY: block; PADDING-TOP: 0px; }
.nav .sub a:hover {COLOR: #fff; TEXT-DECORATION: none; background:rgb(9, 184, 145);}
.nav .on h3 a {LINE-HEIGHT: 36px; background:rgb(5, 107, 85); color:#fff; TEXT-DECORATION: none;  padding-top:8px;}
.menubg{ width: 100%; min-width:1002px; background:#003570; height:3px;}
/*******菜单结束******/
.inbox{ width:1200px; margin:30px auto 0 auto;}
.inbox a{ TEXT-DECORATION: none; COLOR: rgb(71, 61, 61);}
.inbox h3{ font-size:28px; color:rgb(5,107,85); text-align:center; margin-bottom:5px;font-weight: 700;}
.inbox h2{ color:rgb(5,107,85); text-align:center; line-height:35px; height:35px; font-size:17px; font-weight: bold; box-sizing:border-box; -moz-box-sizing: border-box; /*Firefox3.5+*/ -webkit-box-sizing: border-box; /*Safari3.2+*/ -o-box-sizing: border-box; /*Opera9.6*/ -ms-box-sizing: border-box; /*IE8*/}
.inbox h2.line{  color:#19954d; text-align:center; background:url(../images/line.png) no-repeat center; height:28px; line-height:28px; font-size:24px; margin-bottom:5px; position:relative;}

.inbox p.biaotism{ text-align:center; color:#a4a4a4; font-size:12px; line-height:24px;}
.inbox p.green{ color:#71a363;}
.inbox h2.casein{  color:#fff; text-align:center; background:url(../images/case.png) no-repeat top center; height:110px; padding-top:68px; font-size:24px;}
.inbox h2.proin{  color:#727272; text-align:center; background:url(../images/proin.png) no-repeat top center; height:90px; padding-top:60px; font-size:24px;}
.inbox h2 span.lingbgleft{ display:inline-block; background:url(../images/index_15.png) left top no-repeat; height:17px; width:421px; float:left; margin-top:10px;}
.inbox h2 span.lingbgright{ display:inline-block; background:url(../images/index_17.png) left top no-repeat; height:17px; width:421px; float:right; margin-top:10px;}
.inbox h4{ text-align:center; font-size:14px; font-weight:bold; padding-bottom:10px; color:rgb(5,107,85);margin-top: 5px;}
.inbox h4 span{ float:right;}
.inbox a.about{ width: 200px;margin-top: 20px;opacity: 0.5;color: rgb(21,109,85);font-weight: 700;}
.inbox .fahuoimg{ padding: 10px;border: 1px solid #b9b2b2;vertical-align: bottom;width: 230px;}


.product-item { text-align: center ;margin-bottom:15px;}
.product-item img {
  padding: 10px;
  border: 1px solid #b9b2b2;
  vertical-align: bottom;
  width: 260px;
  height: 260px;
}
.product-item a{ TEXT-DECORATION: none; COLOR: rgb(71, 61, 61);}
.product-item h3{ font-size:16px; color:#262626; text-align:center; margin-bottom:5px;height: 40px;line-height: 40px;font-weight: bold;}


.slideBox .prev,
.slideBox .next {
    position: absolute;
    left: 3%;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 32px;
    height: 40px;
    background: url(/images/slider-arrow.png) -110px 5px no-repeat;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.slideBox .next {
    left: auto;
    right: 3%;
    background-position: 8px 5px;
}

.slideBox .prev:hover,
.slideBox .next:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

.slideBox .prevStop {
    display: none;
}

.slideBox .nextStop {
    display: none;
}



.slideBox {
    position: relative;
    height: 480px;
    overflow: hidden;
    margin: 0 auto;
}

.slideBox .bd {
    position: relative;
    z-index: 0;
    text-align: center;
}

.slideBox .bd li {
    text-align: center;
}

.slideBox .hd {
    position: relative;
    z-index: 1;
    margin-top: -30px;
    height: 30px;
    line-height: 30px;
    text-align: center; 
}

.slideBox .hd ul {
    text-align: center;
    padding-top: 5px;
}

.slideBox .hd ul li {
    cursor: pointer;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 8px;
    height: 8px;
    margin: 5px;
    background: url(/images/tg_flash_p.png) -18px 0;
    overflow: hidden;
    font-size: 0;
}

.slideBox .hd ul .on {
    background-position: 0 0;
}

  /* ======= Footer ======= */


  .footer{ width:100%; min-width:1200px; margin:20px 0px 0px 0px; overflow:hidden; background:#30333a; height:280px; box-sizing:border-box; padding-top:20px;bottom:0px;width:100%}
  .footer .widthfooter{ width:1002px; margin:0 auto;}
  .footer .footernav{color:#8f8f8f; font-size:14px;margin-top: 15px; }
  .footer .footernav ul li{ float:left; width:130px; text-align:center; background:url(../images/rihgtline.png) no-repeat top right; height:260px;}
  .footer .footernav ul li h3{ margin:5px 0px 10px 0px; color:#fff;}
  .footer .footernav ul li p a{ color:#8f8f8f; height:25px; line-height:25px;}
  .footer .footernav a{ color:#fff; margin:0 20px;}

  /* .footer .foot_menu{ width:250px; text-align:center; padding-top:5px; color:#fff;} */
  .footer .foot_menu ul li { margin-top: 10px; }
  .footer .foot_menu ul li a{ color:#fff; margin:0 20px;TEXT-DECORATION: none;margin-top: 10px; }

  .footer .boxfoter{ min-width:310px; text-align:left; padding-top:5px; color:#fff;padding-left: 20px}
  .footer .boxfoter ul li { margin-top: 10px; }
  .footer .boxfoter p.title{ font-size:16px; margin:10px 0 5px 0;}
  .footer .boxfoter p.add{ font-size:12px; line-height:24px; color:#8f8f8f; padding-left:25px; background:url(../images/add.jpg) no-repeat left center;}

  /* .footer {
    padding: 15px 0;
    background: #3f4a19;
    color: #fff;
  } */
  .footer a {
    color: #fff;
    text-decoration: underline;
  }
  .footer .copyright {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
  }
  .footer .fa-heart {
    color: #bf225a;
  }

  .copyright {
    background: #111;
    font-size: 15px;
    text-align: center;
    color: rgb(145, 140, 140);
    padding-top: 18px;
    padding-bottom: 20px;
    border-top: 1px solid #303030;
    margin-top: 50px
}
.copyright span {
    margin: 0 .5em;
}
.copyright a {
    color: rgb(145, 140, 140);;
}

  
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */